@import url(reset.css);

html{
    margin-left: 10px;
    font-family: 'Poor Story', cursive;
}

h1{
    font-weight: 400;
    font-size: 2em;
}

h2{
    font-weight: 400;
    font-size: 1.8em;
}

h3{
    font-weight: 400;
    font-size: 1.6em;
}

.container{
    background-color: #B5838D;
}

#nome-empresa{
    color: #E5989B;
}

.tabelinha th, td{
    border: 0.5px solid #B5838D;
}

.tabelinha th,td{
    padding: 10px;
}

.tabelinha{border: 2px solid #FFB4A2;}
th{font-weight: 700;}

input{margin-bottom: 10px;}

#btn-enviar{margin-bottom: 20px;}

button{
    /* background-color: #B5838D; */
    font-family: 'Poor Story', cursive;
}

.formulario{
    background-color: #dba3ae;
}